@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
:root {
  --font-montserrat: 'Montserrat', Helvetica, sans-serif;
  --font-source-sans-3: 'Source Sans 3', sans-serif;
}

.font-source {
  font-family: var(--font-source-sans-3);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Helvetica, sans-serif;
}

nav a:hover {
  color: rgb(255 159 0 / 1) !important;
}
