name: fetch campus food sources

on: # when to run it
    schedule:
        - cron: '0 13 * * *' 
    workflow_dispatch: # run it manually too

jobs:
    fetchNewInfo:
        runs-on: ubuntu-latest
        steps:
            - name: checkout # get code from repo
              uses: actions/checkout@v4

            - name: setup python
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'
            
            - name: install dependencies
              run: pip install httpx beautifulsoup4
            
            - name: run scraper
              run: python scraper/scrapeSite.py

            - name: commit new scraped data
              run: |
                git config user.name "github-actions"
                git config user.email "github-actions@github.com"
                git add public/locations.json
                git diff --staged --quiet || git commit -m"chore: update campus food data"
                git push


